.header {
    height: 90px;
    background-color: var(--color-main);
    display: flex;
    align-items: center;
    flex: 1;
    border: 1px solid var(--color-border);
    border-top: none;
    border-left: none;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000000;
}

/* Logo */
.header>div:nth-child(1) {
    width: 275px;
    height: 100%;
    display: flex;
    align-items: center;
    border-right: 1px solid var(--color-border);
    transition: inherit;
    padding: 0 0 0 25px;
}

.header>div:nth-child(1) img {
    width: 140px
}


.header>div:nth-child(2) {
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 0 25px;
}

.header>div:nth-child(2) h1 {
    color: var(--color-title);
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.5rem;
}

.header>div:nth-child(2) h1 img {
    display: none;
}

.header>div:nth-child(2) .arrow-down {
    transition: .25s;
    margin-top: 7px;
}


/* Btns */
.header .btns {
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
}

.header button {
    display: flex;
    border: none;
    cursor: pointer;
    transition: .25s;
}

.header .btns button:nth-child(1) {
    color: var(--white);
    background-color: var(--darkBlue);
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    padding: 15px 20px;
}

.header .btns button:nth-child(1) p {
    font-weight: 600;
    word-spacing: 2px;
}

.header .btns button:nth-child(1) img {
    width: 8px;
    margin-top: 2px;
}

.header .btns button:nth-child(1):hover {
    opacity: .7;
}


.header .btns button:nth-child(2) {
    height: inherit;
    background-color: transparent;
    flex-direction: column;
    gap: 3px;
    border-radius: 100px;
    padding: 10px 10px;
}

.header .btns button:nth-child(2) p {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--mediumGray);
}

.header .btns button:nth-child(2):hover {
    background-color: var(--bg);
}

.header .btns .modal {
    width: 150px;
    background-color: var(--modal-back);
    color: var(--mediumGray);
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    right: 10px;
    top: calc(100% + 10px);
    border-radius: 10px;
    box-shadow: var(--shadow);
    font-size: 1rem;
    padding: 25px 50px 25px 25px;
}

.header .btns .modal>p {
    cursor: pointer;
    transition: .25s;
}

.header .btns .modal>p:hover {
    opacity: .5;
}

.header .btns .modal>p:nth-child(2) {
    color: var(--red);
}

/* *********************************** */
/* *********************************** */
/* *********************************** */
.header>div:nth-child(2) .rotateArrow {
    transform: rotate(180deg);
}



/* *********************************** */
/* *********************************** */
/* *********************************** */
/* media query */
@media screen and (max-width:900px) {

    /* Logo */
    .header>div:nth-child(1) {
        width: 200px;
    }

    .header>div:nth-child(1) img {
        width: 120px
    }
}

@media screen and (min-width:0px) and (max-width:700px) {

    /* Logo */
    .header>div:nth-child(1) {
        display: none;
    }

    .header>div:nth-child(2) img {
        display: initial;
    }

    /* buttons */
    .header .btns button:nth-child(1) p {
        display: none;
    }

    .header .btns button:nth-child(1) img {
        width: initial;
        transform: scale(1.25);
        margin-top: 0px;
    }
}

@media screen and (min-width:0px) and (max-width:500px) {
    .header>div:nth-child(2) h1 {
        font-size: 1.1rem;
    }

    .header>div:nth-child(2) {
        padding: 0 5px;
    }

    /* Buttons */
    .header .btns {
        gap: 5px;
    }

    .header .btns button:nth-child(1) {
        padding: 10px 15px;
    }

    .header .btns button:nth-child(1) img {
        transform: scale(1);
    }

    .header>div:nth-child(2) h1 img {
        display: initial;
    }
}