.modalsContainer {
    width: 100vw;
    height: 100vh;
    background: var(--overlay);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 5000000;
}

.modalsContainer>section {
    width: 95%;
    max-width: 425px;
    background-color: var(--modal-back);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    border-radius: 10px;
    padding: 30px 25px;
}

.modalsContainer button {
    flex: 1;
    border-radius: 100px;
    border: none;
    font-size: .8rem;
    font-weight: 600;
    cursor: pointer;
    transition: .25s;
    padding: 15px 0px;
}

.modalsContainer button:hover {
    opacity: .5;
}


/* ***************************************** */
/* Delete Board modal */
.modalsContainer .deleteBoradContainer {
    line-height: 22px;
}

.modalsContainer .deleteBoradContainer>h1 {
    color: var(--red);
}

.modalsContainer .deleteBoradContainer>p {
    color: var(--mediumGray);
    word-spacing: 4px;
}

.modalsContainer .deleteBoradContainer>.btns {
    width: 100%;
    display: flex;
    gap: 20px;
}


.modalsContainer .deleteBoradContainer>.btns>button:nth-child(1) {
    background-color: var(--red);
    color: var(--white);
}

.modalsContainer .deleteBoradContainer>.btns>button:nth-child(2) {
    color: var(--darkBlue);
}


/* ***************************************** */
/* shared modal styles */
.modalsContainer .sharedModal>h1 {
    color: var(--color-title);
    font-size: 1.25rem;
    margin-bottom: 5px;
}

.modalsContainer .sharedModal form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.modalsContainer .sharedModal form>div {
    color: var(--mediumGray);
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.modalsContainer .sharedModal form>div:nth-child(2) {
    max-height: 300px;
    overflow-y: auto;
}

.modalsContainer .sharedModal form>div:nth-child(2)>div>div {
    display: flex;
    align-items: center;
    position: relative;
}

.modalsContainer .sharedModal form>div:nth-child(2)>div i {
    margin-left: 10px;
}

.modalsContainer .sharedModal form>div:nth-child(2)>div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.modalsContainer .sharedModal form label {
    font-weight: 600;
    font-size: .8rem;
}

.modalsContainer .sharedModal form input {
    width: calc(100% - 20px);
    height: 40px;
    background-color: transparent;
    color: var(--color-title);
    border-radius: 5px;
    border: 2px solid var(--mediumGrayOpacity);
    font-size: .9rem;
    font-weight: 600;
    outline: none;
    transition: .25s;
    padding: 0 0 0 15px;
}

.modalsContainer .sharedModal form>div:nth-child(2) input {
    font-weight: 500;
    font-size: .8rem;
}

.modalsContainer .sharedModal form input:focus {
    border-color: var(--darkBlue);
}

.modalsContainer .sharedModal i {
    cursor: pointer;
    transition: .25s;
}

.modalsContainer .sharedModal i:hover {
    opacity: .5;
}

.modalsContainer .sharedModal form>button {
    background-color: var(--darkBlue);
    color: var(--white);
}

.modalsContainer .sharedModal form>div:nth-child(2) button {
    color: var(--darkBlue);
}

.modalsContainer .sharedModal .errorMsg {
    position: absolute;
    right: 10px;
    font-size: .8rem;
    color: var(--red);
    display: none;
}

.modalsContainer .sharedModal form>div:nth-child(1) .errorMsg {
    top: 40px;
    right: 10px;
}

/* *********************************** */
/* Add new column */
.modalsContainer .addNewColumnModal form>div:nth-child(1)>input {
    opacity: .25;
    color: var(--mediumGray);
    pointer-events: none;
}


/* *********************************** */
/* Javascript classes */
.modalsContainer .sharedModal form .emptyInputError {
    border-color: var(--red);
    transition: 0s;
}